/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    font-family: Impact;
    background-color: rgb(80, 80, 80)
}

/* Container Styles */
.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    background-color: #272727;
    width: 100%;
    height: 90%;
    padding: 80px 100px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Buttons Styles */

button {
    background-color: #8a8a8a;
    border: none;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler;
    letter-spacing: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #272727;
}

button:hover {
    background-color: #ffffff;
}

/* Dropdown Styles */
.dropdown {
    display: flex;
    gap: 20px;
    position: relative;
    width: 100%;
    margin-right: 20px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 10px;
}

.dropdown select {
    appearance: none;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font-family: Montserrat Medium;
    width: 100%;
    height: 40px;
    text-align: center;
    transition: all 0.2s ease;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 5px),
    calc(100% - 15px) calc(1em + 5px),
    calc(100% - 2.5em) 0.8em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.dropdown select:focus {
    outline: none;
}

.dropdown select::-ms-expand {
    display: none;
}

/* Checkbox Styles */
.checkboxes {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 300px;
    color: #eee;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
}

option {
    margin: 15px 0;
    color: 272727;
}

#option_span {
    height: 200px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 40px;
    height: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
    background-color: #00b906;
}

span {
    font-size: 1rem;
    font-weight: 200;
}

#notes{
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding:  2.5% 5% 5% 5%;
    font-family: sans-serif;
    color: white;
    background-color: #272727;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.note{
    padding: 2% 0;
    border-bottom: #ccc 1px solid;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
        min-width: 400px;
        flex-direction: column;

        padding: 70px 80px 50px;
    }

    .sub-container {
        max-width: none;
        flex-direction: column;
    }

    .container * {
        width: 100%;
    }

    .dropdown {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .checkboxes {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    button {
        margin: 40px 0 10px;
    }

    #notes{
        padding:  5% 10% 10% 10%;
    }

    .note{
        padding: 5% 0;
    }
}